@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

main{
    background: url(../images/bg-desktop.svg) no-repeat center center;
    background-color: var(--Violet);
    background-size: contain;
    height: 100vh;
    width: 100vw;
}

.container{
    display: grid;
    grid-template-areas: "header header"
                         "illustration info"
                         "social social";
}

.header{
    grid-area: header;
}

.illustration{
    
    grid-area: illustration;
}

.info{
    
    grid-area: info;
}

.social{
    background-color: green;
    grid-area: social;
}